<?php

declare(strict_types=1);

/*
 * ShellEVLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ShellEVLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use ShellEVLib\Exceptions\ApiException;
use ShellEVLib\Exceptions\PaymentEnablementErrorResponseException;
use ShellEVLib\Models\MobilePaymentRegistrationRequest;
use ShellEVLib\Models\PaymentEnablementResponse;

class DigitalPaymentEnablementController extends BaseController
{
    /**
     * Generates a DPAN and stores the relationship between the Reference ID, DPAN and the real PAN. This
     * method is called during the customer registration process, ahead of any payment. The Reference ID is
     * an identifier chosen by the client system for mobile payment registration. It must be unique in
     * context of the client system, and is the key to obtaining and managing the payment details later.
     *
     * @param MobilePaymentRegistrationRequest $body
     *
     * @return PaymentEnablementResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function mpayV1TokensRefPut(MobilePaymentRegistrationRequest $body): PaymentEnablementResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/PaymentEnablement/v1/ref')
            ->auth('oAuthTokenPost')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Error Occurred. The server cannot or will not process the request due to a' .
                    'n apparent client error (e.g., malformed request syntax, invalid request me' .
                    'ssage).',
                    PaymentEnablementErrorResponseException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized. The request has not been applied because it lacks valid authenti' .
                'cation credentials for the target resource.')
            )
            ->throwErrorOn(
                '403',
                ErrorType::init('Forbidden. The server understood the request but refuses to authorize it.')
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('Not Found. The origin server did not find a current representation for the tar' .
                'get resource or is not willing to disclose that one exists.')
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Internal Server Error. The server encountered an unexpected condition that pre' .
                'vented it from fulfilling the request.')
            )
            ->type(PaymentEnablementResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
