<?php

declare(strict_types=1);

/*
 * ShellSmartPayAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ShellSmartPayAPILib\Controllers;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use ShellSmartPayAPILib\Exceptions\AccessTokenErrorException;
use ShellSmartPayAPILib\Exceptions\ApiException;
use ShellSmartPayAPILib\Models\AccessTokenResponse;

class ShellAPIPlatformSecurityAuthenticationController extends BaseController
{
    /**
     * To obtain APIGEE access token
     *
     * @param string $grantType In OAuth 2.0, the term grant typee refers to the way an application
     *        gets an access token. OAuth 2.0 defines several grant types, including the
     *        authorization code flow.
     * @param string $clientId After registering your app, you will receive a client ID and a client
     *        secret. The client ID is considered public information, and is used to build login
     *        URLs, or included in Javascript source code on a page.
     * @param string $clientSecret After registering your app, you will receive a client ID and a
     *        client secret. The client ID is considered public information, and is used to build
     *        login URLs, or included in Javascript source code on a page. The client secret must
     *        be kept confidential.
     *
     * @return AccessTokenResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function oauthTokenPost(string $grantType, string $clientId, string $clientSecret): AccessTokenResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/oauth/token')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded'),
                FormParam::init('grant_type', $grantType),
                FormParam::init('client_id', $clientId),
                FormParam::init('client_secret', $clientSecret)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', AccessTokenErrorException::class))
            ->type(AccessTokenResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
